@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Library Management System</h1>
    </div>

    <div class="row">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("User Registration", "Index", "new_User")</li>
                <li>@Html.ActionLink("Log In", "Index", "Login")</li>
                <li>@Html.ActionLink("Admin Login", "Index", "Admin_Login")</li>
            </ul>
            
        </div>
    </div>

